@import url('https://fonts.googleapis.com/css2?family=Modak&family=Outfit:wght@500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  background-color: #172351;
  color: white;
}